* {
  /* border: 1px solid red !important; */
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: 'Lato', sans-serif;
}

/* 
 * This takes over the purpose of "grid" or "container" as we've learned 
 * class.
 * Using html as selector: We can take advantage of being able to apply CSS
 * to the <html> element to skip the wrapper div and keep our markup clean.
 */

body, html {
  margin: 0 auto; /* Centering the page */
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

body {
  font-size: 100%;
}

img, embed, object, video, svg {
  max-width: 100%;
  max-height: 100%;
}

h1, h3, h4, h5 {
  color: #696767;
  margin: 0;
}

h1 {
  font-size: 3.33em;
  font-weight: 200;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  color: #bcbbbb;
  margin: 0;
}

h3 {
  font-size: 1.67em;
  font-weight: 400;
}

h4 {
  font-weight: 300;
}


nav a, button {
  min-width: 48px;
  min-height: 48px;
  padding: 1.5em;
}

/*
 * Content
 */

.skills {
  background-clip: content-box;
  background-color: #f7f9fe;
  /* background-color: #e8f3f8; */
  padding-right: 10px;
  padding-bottom: 10px;
  border-bottom: solid 2px #bcbbbb;
  margin-bottom: 10px;
}
.skills h3 {
  font-size: 1.3em;
  padding: 5px 15px 0px;
}

.skills ul {
  padding-right: 10px;
}

.skills:last-of-type {
  padding-right: 0;
}

.resume {
  padding: 10px 0px 10px;
}
/*
 * Footer
 */

footer {
  padding-bottom: 10px;
  border-bottom: solid 2px #bcbbbb;
  margin-bottom: 30px;
}

[class*="brandico-"]:before {
  display: inline-block;
  font-family: 'brandico', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  text-align: center;
  padding-right: 10px;
  width: 4vw;
}

[class*="brandico-"] {
  display: inline-block;
  width: 100px;
  min-height: 40px;
}

.contact a {
  text-decoration: none;
  color: #616161;
}

.contact a:hover {
  text-decoration: underline;
  color: #212121;
}


/***********************
 * Grid, Rows, Columns *
 ***********************/

.row {
  width: 100%;
  display: flex; flex-wrap: wrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.67%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.67%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.67%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.67%;
}

.col-12 {
  width: 100%;
}

